<%= form_with(model: store, remote: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: 'control-label' %>
    <%= form.text_field :title, id: :store_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :des, class: 'control-label' %>
    <%= form.text_field :des, id: :store_des, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, class: 'control-label' %>
    <%= form.text_field :address, id: :store_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone, class: 'control-label' %>
    <%= form.number_field :phone, id: :store_phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :owner, class: 'control-label' %>
    <%= form.text_field :owner, id: :store_owner, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "更新資料" %>
  </div>
<% end %>
