<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Stores</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'New Store', new_store_path, class: 'btn btn-info pull-right' %>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Des</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Owner</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td><%= store.title %></td>
              <td><%= store.des %></td>
              <td><%= store.address %></td>
              <td><%= store.phone %></td>
              <td><%= store.owner %></td>
              <td><%= link_to 'Show', store_path(store), remote: true %></td>
              <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="user-modal" class="modal fade generic-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document"></div>
</div>


