$("#user-modal").modal('toggle');

// window.location = '<%= stores_path %>'


$(document).on('page:update',function(){

    $('form').on('ajax:beforeSend', function(event, xhr, settings) {
        console.log('ajax:beforeSend');
        console.log(event);
        console.log(xhr);
        console.log(settings);
    });
    
    $('form').on('ajax:success', function(event, data, status, xhr) {
        console.log('ajax:success');
        console.log(event);
        console.log(data);
        console.log(status);
        console.log(xhr);
    });
    
    $('form').on('ajax:complete', function(event, xhr, status) {
        console.log('ajax:complete');
        console.log(event);
        console.log(xhr);
        console.log(status);
    });

    $('form').on('ajax:error', function(event, xhr, status, error) {
        console.log('ajax:error');
        console.log(event);
        console.log(xhr);
        console.log(status);
        console.log(error);
    });
});